*.swp
.dirstamp
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build.sh
config.log
config.status
config/ar-lib
config/compile
config/depcomp
config/install-sh
config/missing
config/test-driver
configure
fullref.doxygen
userman.doxygen
